*{
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    font-family: arial;
    line-height: 24px;
    color: #666;
    background: #ccc;
}

.page {
    background: #fff;
    padding: 20px;
    width: 940px;
    margin: 0 auto;
}

#header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    float: left;
    margin-bottom: 25px;
    width: 100%;
}
#header h1{
    display: inline-block;
}

#header .lookup-form {
    float: right;
    width: 400px;
}

#main {
    margin-top: 20px;
    width:100%;
    clear: both;
}

.lookup_values, .portfolio_details {
    display: inline-table;
    width: 45%;
}

.message {
    background: red;
    color: #fff;
    padding: 10px;
    margin: 0 0 20px;
}
.lookup_values {
    margin-right: 5%;
}

.portfolio_details  h3 {
    display: inline-block;
}
.portfolio_details .cash {
    float: right;
}
.text {
    width: 220px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
}
.button {
    background: #66ccff;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
}
.portfolio_details th {
    text-align: left;
    padding: 10px 5px;
}
.portfolio_details td, .lookup_values td {
    border: 1px solid #ccc;
    width: 160px;
    padding: 10px 5px;
}
